<!DOCTYPE html>
<html>
<head>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./myTable.css"/>
  <script type="text/javascript" src="./angular.min.js"></script>
  <script type="text/javascript" src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superplus/js/lib/jquery-1.10.2_d88366fd.js"></script>
  <script type="text/javascript" src="./myTable.js"></script>
</head>
<body ng-app="myApp" ng-controller="MyController">
  <h1>{{title}}</h1>
  <table my-table ng-model="items" table-data="list" table-config="tableConfig">
    <tr ng-repeat="item in items">
      <td title="Name">{{ item.name }}</td>
      <td title="Age">{{ item.age }}</td>
      <td title="Sex">{{ item.sex }}</td>
    </tr>
  </table>
  <br/>
</body>
</html>
